/* Resume card */
.resumeContainer{
    margin:2rem auto;
    width:30vw;
    padding:0.5rem;
    background-color: #f3f3f3;
    border-top:1px solid white;
    border-left:1px solid white;
    border-bottom:1px solid #a1a1a1;
    border-right:1px solid #a1a1a1;
    box-shadow: 0.2rem 0.2rem 0.5rem #a1a1a1;
    border-radius: 0.2rem;
    transition: transform 0.2s ease-in-out;
    display:flex;
    justify-content: center;
}
.resumeContainer:hover{
    transform: scale(1.02);
}
.resumeContainer img{
    width:28vw;
    border:1px solid #a1a1a1;
}
.resumeLink{
    color:black;
    text-align: center;
    font-weight:500;
    text-decoration: none;
}

/* Skills */
.skillContainer{
    display:flex;
    justify-content: space-around;
    width:60vw;
    margin:0 auto 7rem;
}
.skills{
    width:29vw;
    padding:1rem;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #919191 inset;
    border-right:2px solid white;
    border-bottom:2px solid white;
    text-align: center;
}
.skills h2{
    font-weight:500;
    animation:skill 1s;
}
.skills li{
    list-style-type:none;
    padding:0.2rem;
    animation:skill 1s;

}
.darkSkill{
    background-color: #cfcfcf;
    
}
@keyframes skill {
    0%{
        transform:translate(-100%);
        opacity:0;

    }
   
}
@media screen and (max-width:800px) {
    .skillContainer{
        width:90vw;
    }
    .skills{
        width:43vw;
    }
}
@media screen and (max-width:500px) {
    .resumeContainer{
        width:80vw;
    }
    .resumeContainer img{
        width:78vw;
    }
    .skillContainer{
        display:block;
        width:100vw;
        
    }
    .skills{
        width:100vw;
        border-radius: 0;
        border-right:none;
        margin-top:1rem;
        box-shadow: 0rem 0.1rem 0.1rem #919191 inset;
    }
    .resumeBackground{
        box-shadow:0rem 0.1rem 0.1rem #919191 inset;
        border-right:none;
        border-left:none;
        width:100vw;
        margin:1rem 0;
    }
}