/* Contact Form */
.contactContainer{
    width:70vw;
    max-width: 550px;
    margin:2rem auto 5rem;
    padding:1rem 2rem;
    box-shadow: 0 0 0.5rem #a1a1a1;
    background-color: #eeeded;
    border-radius: 0.2rem;

}

/* Inputs */
.contactInput,.contactMessage{
    width:100%;
    border:none;
    border-radius: 0.2rem;
    padding:0.5rem;
    background-color: rgb(236, 242, 252);
    margin-top:0.2rem;
    margin-bottom:0.8rem;
    box-shadow: 0 0 0.4rem rgb(43, 74, 154) inset;

}

/* Text area */
.contactMessage{
    height:10rem;
}

.contactInput:focus,.contactMessage:focus{
    outline:2px solid rgb(69, 121, 250);
    background-color: rgb(255, 255, 255);
    box-shadow:  0 0 0.4rem rgb(57, 97, 200) inset;
}

/* Submit button */
.contactBtnContainer{
    display:flex;
    justify-content: center;
}
.contactBtn{
    padding:0.5rem 2rem;
    margin:1rem auto;
    border-radius:0.5rem;
    border-top:3px solid #fec697;
    border-left:3px solid #fec697;
    border-bottom:3px solid #895226;
    border-right:3px solid #895226;
    background-color: #3f3f3f;
    color:#eeeded;
    font-size:1.1rem;
    box-shadow:0.2rem 0.2rem 0.2rem gray;
    transition: transform 0.2s ease-in-out;
}
.contactBtn:hover{
    transform:scale(1.02);
    color:white;
    background-color: rgb(86, 86, 86);
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .nameContainer{
        display:block;
    }
    .nameContainer input{
        width:100%;
        margin-top:0.5rem;
    }
    .contactContainer{
        width:100vw;
    }
    
}
@media screen and (max-width:300px) {
   
    .contactContainer{
        width:100vw;
    }
    
}